[global]
access control = yes
port = 1701

[lac bras]
lns = 58.192.112.38
require chap = yes
name = |USERNAME|
pppoptfile = /etc/ppp/options.bras.xl2tpd
autodial = no
tunnel rws = 8
tx bps = 100000000
rx bps = 100000000